[Unit]
Description=Olad
After=network-online.target
Wants=network-online.target

[Service]
User=ola
Group=ola
Type=simple
ExecStart=/usr/local/bin/olad -l3

[Install]
WantedBy=multi-user.target